<section class="jumbotron text-center">
  <div class="container">
    <h1>Elements game system</h1>
    <p class="lead text-muted">Ever since I was little, I've always liked the classical elements, especially when used in a magic system.
      At the same time, I've always felt a bit frustrated with its implementations. Between spells that looked like another,
      spells that were just a more powerful version of another, and the never consistent element mixes (in some systems, blood was part of water,
      ice was either part of water or the fusion of air and water or nothing at all), I felt like none of it knew really the boundaries and possibility.
    I like logic. I like when things are described thourouglessly. I like when plots get resolved because of a clever use of pre-established magic
    rather than a random spell we never heard about before. I like hard magic system, as opposed to soft magic system. Harry Potter, for example, use a soft magic system :
  there is no established rules as what magic can or cannot do. And I hate it.</p>
  <p class="lead text-muted">
    So, one day, as I was thinking about running a tabletop rpg campain, I thought : why wouldn't I create mine ?
    And there it is : Elements, the logical classical elements magic system. Where fire burns, water gets you wet, rock is solid, and wind blowing act as it does in real life :
    spreading fire and freeze you to death when you're wet.
  </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">

            <div class="col-md-4 mb-4">
              <div class="card h-100 shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                    dy=".3em">Placeholder</text>
                </svg>
                <div class="card-body align-items-center justify-content-center d-flex">
                  <span class="card-text figure-caption">Placeholder</span>
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-4">
              <div class="card h-100 shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                    dy=".3em">Placeholder</text>
                </svg>
                <div class="card-body align-items-center justify-content-center d-flex">
                  <span class="card-text figure-caption">Placeholder</span>
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-4">
              <div class="card h-100 shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                    dy=".3em">Placeholder</text>
                </svg>
                <div class="card-body align-items-center justify-content-center d-flex">
                  <span class="card-text figure-caption">Placeholder</span>
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-4">
              <div class="card h-100 shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                    dy=".3em">Placeholder</text>
                </svg>
                <div class="card-body align-items-center justify-content-center d-flex">
                    <span class="card-text figure-caption">Placeholder</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
