<section class="jumbotron text-center">
  <div class="container">
    <h1 class="mobile-friendly page-title">My journey into programming</h1>
    <p class="lead text-muted mobile-friendly">If you don't feel like going through that huge wall of text, there is a <a
        href="#">TL;DR</a> at the end.</p>
  </div>
</section>

<div class="album pt-5 pb-4 bg-light">
  <div class="container">
    <div class="row">

      <div class="col-md-7 mb-4">
        <div class="card h-100 shadow-sm">
          <h4 class="table-content-title">Table of Contents</h4>
          <nav class="nav flex-column">
            <a class="nav-link" routerLink="./" fragment="first-part">The beginning of an era</a>
            <a class="nav-link" href="/about/#second-part">When things went in motion</a>
            <a class="nav-link" href="/about/#third-part">(?)</a>
            <a class="nav-link" href="/about/#fourth-part">Experience and future plans</a>
            <a class="nav-link">TL;DR</a>
          </nav>
        </div>
      </div>

      <div class="col-md-5 mb-4">
        <div class="card h-100 shadow-sm">
          <img src="/assets/img/about/website_screenshot.jpg" class="figure-img img-fluid rounded card-img-top" alt="...">
          <div class="card-body align-items-center justify-content-center d-flex">
            <span class="card-text figure-caption">As it is tradition, I had to use a code image to illustrate a
              programming article. Guess what it is :)</span>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <h2 class="part-title" id="first-part">The beginning of an era</h2>
      </div>


      <!--
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body align-items-center justify-content-center d-flex">
            <span class="card-text figure-caption">Placeholder</span>
          </div>
        </div>
      </div>
    -->

      <!--
    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow-sm">
        <div class="card-body align-items-center d-flex">
          <div>
            <h5 class="card-title">Drawings</h5>
            <p class="card-text">The best pieces a few years of casual lessons allowed me to make.</p>
            <a class="btn btn-primary" (click)="navigate('gallery/drawings')">Let me have a look</a>
          </div>
        </div>
      </div>
    </div>
  -->

      <div class="col-md-8 mb-4">
        <div class="h-100 align-items-center d-flex flex-column">
          <p class="lead left-text mt-auto mb-auto">My journey into programming started in the last year of highschool
            by yet another
            random spontaneous
            interest on mine.
            Basically, I woke up one day thinking : "What if I learnt how to program stuff?"</p>
          <p class="lead left-text">So here I went, using the power of internet. After a few reads, I decided that C
            langages was the
            basics of the basic, and I set my sight on it. Started days of trials and errors, bugs hunt and murder as I
            walked
            thouroulessly through a tutoriel on OpenClassroom (formely Le site du Zero). Nothing was never working at
            the
            first
            try, but that was surprinsingly fun.
            I found myself enjoying the hardest parts, beating problems with my never give up mentality, and feeling
            super
            rewarded when things finally came together.</p>
          <p class="lead left-text mt-auto mb-auto">Then, I woke up another morning with another random spontaneous need
            to learn a new
            thing, and it
            became a fond memory, a skill waiting its time to be useful again.</p>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <img src="/assets/img/about/c_book.png" class="figure-img img-fluid rounded card-img-top" height="500px" alt="...">
          <div class="card-body align-items-center justify-content-center d-flex">
            <span class="card-text figure-caption">The cover of the first widely avaible book on the C language, published
              in 1978. Not where I learnt it, thought.</span>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <img src="/assets/img/about/galaxy-brain-system.jpg" class="figure-img img-fluid rounded card-img-top"
            height="500px" alt="...">
            <div class="card-body align-items-center justify-content-center d-flex">
              <span class="card-text figure-caption">I still don't know WHY someone thought that was a great decision, but,
                hey, I'll take it.</span>
          </div>
        </div>
      </div>

      <div class="col-md-8 mb-4">
        <div class="h-100 align-items-center d-flex flex-column">
          <p class="lead left-text mt-auto mb-auto">It came back into relevency two years later, at a pretty unexpected time. I always
            say
            I became a
            programmer because</p>
          <p class="lead left-text">During highschool, as I was strggling to decide what I wanted to do of my life, in a
            scientific cursus
            because that is the one which (saldy) leave the most options open in France,
            I figured that rather thinking about a domain, I would seek what I needed to be professsionnally happy. Tree
            points
            stood out : working in a team, having a (?) and being able to use my creativness.</p>
          <p class="lead left-text mt-auto mb-auto">And... that lead kind of nowhere, because it can be applied to tons of different
            jobs.
            Listening to
            family recomandation, I went into preparatory classes for prestigous engineeer school.
            That was a nice plan, except I end up disliking both the cursus and where it was going : I realised I didn't
            wanted
            to be a engineer. My parents wouldn't let my waste the one year and a half I did,
            so I went for a brige with university. I had the choice between engeneerign science, maths, physics, and -
            weirdly -
            informatic. I never understood why it was there, as we only did some Python,
            taught by the math teacher, so it was mostly match algorithm, but that was the only thing I wasn't fed off
            at
            the
            time, so I went for it.</p>
        </div>
      </div>

      <div class="col-md-12">
        <h2 class="part-title" id="second-part">When things went in motion</h2>
      </div>

      <div class="col-md-12 mb-4">
        <div class="h-100 align-items-center d-flex flex-column">
          <p class="lead left-text">It was the middle of the school year, but the start of a new semester, with all that
            comes along it :
            new courses, new teachers but same schoolmates - except for me. The vert first day,
            I learnt that the subjet of one my courses was to programm the othello game in C langage. Not to learn it,
            because
            all the other student learned it earlier in the formation. Weird bridge, I told you.
          </p>
          <p class="lead left-text">Fortunatly, when I learn about a subject, I learn thourougly and durably, so my
            little
            expedition into
            programmation shone. I actually had the level, and I never felt like I had to get up(?) to theirs.
            What followed was one of the greatest moments(?) of my life, because I realised that I simply *loved*
            programming.
            It was more than this, actually : it fit me perfectly.
            My never-give up attitude? Perfect for hunting bugs relentlessy. My drive to make things correctly? A nice
            archtecture and clean code. My creativity? Tons of ideas and problem solving capacity.
            My desire for recogntion(?) ? The feeling of accomplisment when things build from my own hands finally work.
            My
            curiosity ? Perfect for exploring new options and technologies.</p>
          <p class="lead left-text">From the point of vue of my professionnaly accomplishment(?), it was really good too
            :
            team projects
            and a ever evolving environment.
            The only part that was lacking was the creativity aspect. There wasn't many liberties to take when doing
            exercices
            or even the othello in C language project. I took some options trying to fix that, like
            natural langage (the goal was to learn how translation program works with sequecing sentences) and web
            developpement.
            For the first course, we had a small project to do, and I ended up doing a search motor of french words in
            japanase
            songs. The difficulty came to recognise the words in the japanase text because they have no
            spaces between words and almost no pontuaction. (img japanse text)</p>
          <p class="lead left-text">As for the web development, I quickly fell in love with it. The visual and imediate
            result was very
            appealing to me, as someone with an art sense and a good visual memory.
            In the first course, we did a lot of practical an quick exercise, but in the end we got to make a 2D game
            with
            a
            little phisics in a local javascript page (with a bit of css and hmtl, of course).
            I went for a platform game, but my ambitions were too high and I lost of lot of time trying to make menus
            and
            graphics rather than the actual game. I learnt the hard way the terrible pain of hitboxes.
          </p>
          <p class="lead left-text">The next year, the whole course was based around making a real website, as we were
            introduced to PHP
            and SQL. WampServer, Jmerise and Phpmyadmin (my sql) would go on to be useful tools, and the website in
            question
            - a pokemon fansite made by three of us - is still around and up online, thought it's not my proudest
            realisation.
            Mainly, because for some reason, we decided to make the whole visual by hand with basic css only, so it
            doesn't look
            very modern, to say the least.
            I pretty happy with the whole database request system, on the other hand.

            (image piliscope.fr) -</p>
        </div>
      </div>

      <div class="col-md-12">
        <h2 class="part-title" id="third-part">:(</h2>
      </div>

      <div class="col-md-12 mb-4">
        <div class="h-100 align-items-center d-flex flex-column">
          <p class="lead left-text">I went on to</p>
        </div>
      </div>

      <div class="col-md-12">
        <h2 class="part-title" id="fourth-part">Experience and future plans</h2>
      </div>

      <div class="col-md-12 mb-4">
        <div class="h-100 align-items-center d-flex flex-column">
        </div>
      </div>

      <div id="viewer" class="pdf-viewer" data-url="/assets/pdf/cv.pdf"></div>
      <!--<script src="js/bootstrap-pdf-viewer.js"></script>

  <script>
    var viewer;

    $(function() {
      viewer = new PDFViewer($('#viewer'));
    });
  </script>-->

      <p class="lead left-text">
        This is where I am today, looking for developping on a project that speaks to me, around video games, 3D and
        web
        design.</p>




    </div>
  </div>
