<section class="jumbotron text-center">
  <div class="container">
    <h1 class="mobile-friendly page-title">The big stuff</h1>
    <p class="lead text-muted mobile-friendly">Whether it's something that need programming, writing or game design, I'm always ready to
      give it my all!</p>
  </div>
</section>

<div class="album pt-5 pb-4 bg-light">
  <div class="container">

    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Plot-it</text>
          </svg>
          <div class="card-body align-items-center d-flex">
            <div>
              <h5 class="card-title">Plot-it</h5>
              <p class="card-text">As soon as I wanted to expand my little novela into a full fledged book, I realised I
                needed something to keep track of the elements I put and I wanted to put in every chapter. Plot-it is a
                tool (still in developpment) to help me with this issue.</p>
              <a class="btn btn-primary" (click)="navigate('projects/plot-it')">Build my story</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Plot-it</text>
          </svg>
          <div class="card-body align-items-center d-flex">
            <div>
              <h5 class="card-title">Jeanne d'Arc : the historical serious game</h5>
              <p class="card-text">As part of a university project, as a group of 4 students we developped the
                construction and plot for a visual novel game about Jeanne d'Arc.</p>
              <a class="btn btn-primary" (click)="navigate('projects/jeanne-game')">Make a choice</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Plot-it</text>
          </svg>
          <div class="card-body align-items-center d-flex">
            <div>
              <h5 class="card-title">Elements game system</h5>
              <p class="card-text">My take on a game system full of magic, intented for a custom table top role playing
                campain.</p>
              <a class="btn btn-primary" (click)="navigate('projects/elements')">
                <div>You're a wizard,</div>
                even if you're not Harry</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
