<section class="jumbotron text-center">
  <div class="container">
    <h1 class="mobile-friendly page-title">The marvelous world of creation</h1>
    <p class="lead text-muted mobile-friendly">From drawings to polymers clay figures, every finished art project has a place here.</p>
  </div>
</section>

<div class="album pt-5 pb-4 bg-light">
  <div class="container">

    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <img src="/assets/img/drawings/laria_cat.jpg" class="figure-img img-fluid rounded card-img-top" alt="...">
          <div class="card-body align-items-center d-flex">
            <div>
              <h5 class="card-title">Drawings</h5>
              <p class="card-text">The best pieces a few years of casual lessons allowed me to make.</p>
              <a class="btn btn-primary" (click)="navigate('gallery/drawings')">Let me have a look</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <img src="/assets/img/tickets/mudkip_placeholder.jpeg" class="figure-img img-fluid rounded card-img-top" alt="...">
          <div class="card-body align-items-center d-flex">
            <div>
            <h5 class="card-title">Event tickets</h5>
            <p class="card-text">As a part of my family-friendly monthly activity contest around the Pokemon Go mobile
              game, I designed some tickets for people to collect.</p>
            <a class="btn btn-primary" (click)="navigate('gallery/tickets')">Gotta collect 'em all!</a>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <img src="/assets/img/others/mareep_bag_full.jpg" class="figure-img img-fluid rounded card-img-top" alt="...">
          <div class="card-body align-items-center d-flex">
            <div>
            <h5 class="card-title">Others</h5>
            <p class="card-text">Cross-stitching, polymer clay sculting, painting... Every once in a while, I get the
              urge to learn a new art technique. These are the result of those self-taught frienzies.</p>
            <a class="btn btn-primary" (click)="navigate('gallery/others')">Explore possibilities</a>
          </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Placeholder</text>
          </svg>
          <div class="card-body align-items-center d-flex">
            <div>
            <h5 class="card-title">Digital Drawing</h5>
            <p class="card-text">After years of waiting for screen graphic tablets to be at a decent price, I finally
              got my hands on one. Let's see what I can do with it!</p>
            <a class="btn btn-primary" (click)="navigate('gallery/digital-drawings')">Let's see what you can do</a>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Placeholder</text>
          </svg>
          <div class="card-body align-items-center d-flex">
            <div>
            <h5 class="card-title">Photography</h5>
            <p class="card-text">Sometimes, your mind let you no other choice than to stop and take a picture.
              Sometimes, you travel to beautiful places and want to keep a physical memory. Those are these pictures.
            </p>
            <a class="btn btn-primary" (click)="navigate('gallery/photography')">Make me dream</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
