<section class="jumbotron text-center">
  <div class="container">
    <h1>Collection of event tickets</h1>
    <p class="lead text-muted">Every month in Pokemon Go, there is a three hour window event on a fixed date, usually on
      a Saturday or Sunday.
      As this mobile game is first and foremost a community outdoor game, I took this opportunity to organise events in
      the city I lived in. The goal was simple :
      gather people so they could meet and play together, with some lucky people getting a bit of goodies.</p>
      <p class="lead text-muted">I got myself
      a nice team to help me out, some generous donators,
      and even sponsorship from a fast-food and an atelier. An association was in project, but I moved away before it
      could concretize.
      As part of the events, I designed and drawed little tickets, which people soon began to collect from one month to
      another.
      Today, the initiative is still on going without me, and I'm pretty proud of what it has become.</p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">

      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <img src="/assets/img/tickets/mudkip_placeholder.jpeg" class="figure-img img-fluid rounded card-img-top" alt="...">
          <div class="card-body align-items-center justify-content-center d-flex">
            <span class="card-text figure-caption">Placeholder</span>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <img src="/assets/img/tickets/pikaticket.jpg" class="figure-img img-fluid rounded card-img-top" alt="...">
          <div class="card-body align-items-center justify-content-center d-flex">
            <span class="card-text figure-caption">Placeholder</span>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" data-toggle="modal" data-target=".bd-example-modal-lg" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Placeholder</text>
          </svg>
          <div class="card-body align-items-center justify-content-center d-flex">
            <span class="card-text figure-caption">My best one, in my opinion. The ticket aesthetic, the illustration,
              the Jurrassic park reference mixed with the origin of the Pokemon name.</span>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Placeholder</text>
          </svg>
          <div class="card-body align-items-center justify-content-center d-flex">
            <span class="card-text figure-caption">I was pretty proud of it, until some kids at the event told me it
              looked like an ass. Now, as me, you can't unsee it. But what has been done can't be undone :(</span>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Placeholder</text>
          </svg>
          <div class="card-body align-items-center justify-content-center d-flex">
            <span class="card-text figure-caption">That's the moment I decided I wanted to do more than simple tickets,
              and decided to full illustration. I went a bit overboard.</span>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Placeholder</text>
          </svg>
          <div class="card-body align-items-center justify-content-center d-flex">
            <span class="card-text figure-caption">Placeholder</span>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Placeholder</text>
          </svg>
          <div class="card-body align-items-center justify-content-center d-flex">
            <span class="card-text figure-caption">Placeholder</span>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Placeholder</text>
          </svg>
          <div class="card-body align-items-center justify-content-center d-flex">
            <span class="card-text figure-caption">Placeholder</span>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Placeholder</text>
          </svg>
          <div class="card-body align-items-center justify-content-center d-flex">
              <span class="card-text figure-caption">Placeholder</span>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Placeholder</text>
          </svg>
          <div class="card-body align-items-center justify-content-center d-flex">
              <span class="card-text figure-caption">Placeholder</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
