.jumbotron {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom-left-radius : 0px;
  border-bottom-right-radius: 0px;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.jumbotron h1 {
  padding-bottom: 1rem;
  color : rgb(85, 89, 92);
}
