<div class="text-center">
  <div class="d-flex h-100 p-3 flex-column w-100">
    <div class="cover-container mx-auto w-100 mb-3">
      <header class="masthead">
        <div class="inner">
          <h3 class="masthead-brand mobile-friendly">Mel's little world</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link mobile-friendly" routerLink="home" routerLinkActive="active">Home</a>
            <a class="nav-link mobile-friendly" routerLink="projects" routerLinkActive="active">Projects</a>
            <a class="nav-link mobile-friendly" routerLink="gallery" routerLinkActive="active">Gallery</a>
            <a class="nav-link mobile-friendly" routerLink="about" routerLinkActive="active">About me</a>
          </nav>
        </div>
      </header>
    </div>

    <main role="main" class="inner cover px-auto py-auto h-100">
      <router-outlet></router-outlet>
    </main>

    <footer class="mastfoot">
      <div class="inner">
        <p class="ft mobile-friendly">Contact me at <a href="mailto:weibel.melanie.pro@gmail.com">weibel.melanie.pro@gmail.com</a> for any
          question.
          Feedback appreciated!</p>
      </div>
    </footer>
  </div>
</div>
