<div class="home h-100 my-auto d-flex align-items-center">
  <div style="max-width: 100%;">
    <h1 class="cover-heading mobile-friendly">Welcome into my world!</h1>
    <p class="lead mobile-friendly mx-5"> <span class="mobile-nodisplay">As a somewhat experimented programmer with an artistic soul, there are many things I like to
      build,
      create, code and write.</span>
      What you'll find here are the best things I made, as well as some information about me. Enjoy your stay!</p>
    <p class="lead">
      <a class="btn btn-lg btn-secondary mobile-friendly" (click)="navigate('about')">The mind behind it</a>
    </p>
    <p class="multi">
      <a class="btn btn-lg btn-secondary mobile-friendly" (click)="navigate('projects')">Explore projects</a>
      <a class="btn btn-lg btn-secondary mobile-friendly" (click)="navigate('gallery')">Explore gallery</a>
    </p>
  </div>
</div>


<!--
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body align-items-center justify-content-center d-flex">
            <span class="card-text figure-caption">Placeholder</span>
          </div>
        </div>
      </div>
    -->

<!--
    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow-sm">
        <div class="card-body align-items-center d-flex">
          <div>
            <h5 class="card-title">Drawings</h5>
            <p class="card-text">The best pieces a few years of casual lessons allowed me to make.</p>
            <a class="btn btn-primary" (click)="navigate('gallery/drawings')">Let me have a look</a>
          </div>
        </div>
      </div>
    </div>
  -->
