<section class="jumbotron text-center">
  <div class="container">
    <h1>Others</h1>
    <p class="lead text-muted">Placeholder</p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">

      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <img src="/assets/img/others/mareep_bag_full.jpg" class="figure-img img-fluid rounded card-img-top" alt="...">
          <div class="card-body align-items-center justify-content-center d-flex">
            <span class="card-text figure-caption">Placeholder</span>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <img src="/assets/img/others/sachet.jpg" class="figure-img img-fluid rounded card-img-top" alt="...">
          <div class="card-body align-items-center justify-content-center d-flex">
            <span class="card-text figure-caption">Placeholder</span>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <img src="/assets/img/others/mareep_materials.jpg" class="figure-img img-fluid rounded card-img-top" alt="...">
          <div class="card-body align-items-center justify-content-center d-flex">
            <span class="card-text figure-caption">Placeholder</span>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <img src="/assets/img/others/torchic.jpg" class="figure-img img-fluid rounded card-img-top" alt="...">
          <div class="card-body align-items-center justify-content-center d-flex">
              <span class="card-text figure-caption">Placeholder</span>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <img src="/assets/img/others/fort_boyard_mask.jpg" class="figure-img img-fluid rounded card-img-top" alt="...">
          <div class="card-body align-items-center justify-content-center d-flex">
            <span class="card-text figure-caption">Placeholder</span>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <img src="/assets/img/others/poro_fabric.jpg" class="figure-img img-fluid rounded card-img-top" alt="...">
          <div class="card-body align-items-center justify-content-center d-flex">
            <span class="card-text figure-caption">Placeholder</span>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <img src="/assets/img/others/kalista_paper_spear.jpg" class="figure-img img-fluid rounded card-img-top" alt="...">
          <div class="card-body align-items-center justify-content-center d-flex">
            <span class="card-text figure-caption">Placeholder</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
